## Hypothesis Testing Exercise

### 1. Hypothesis Cutlet Diameter


A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

     Minitab File : Cutlets.mtw

+ **Null Hypothesis:** $\mu$ = No difference in diameters of two cutlets
+ **Alternative Hypthosis:** $\mu \neq$  Significance difference is cutlets diameter

In [2]:
import numpy as np
import scipy.stats as stats
import pandas as pd
import statsmodels.api as sm

In [29]:
from scipy import stats

In [30]:
from scipy.stats import ttest_1samp, ttest_ind, ttest_rel

In [11]:
cutlet = pd.read_csv('../Data/Cutlets.csv')
cutlet.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [37]:
Unit_A = cutlet['Unit A']
Unit_B =cutlet['Unit B']

In [50]:
Cutlet_P_value = ttest_rel(Unit_A, Unit_B)

In [75]:
if Cutlet_P_value[1] > 0.5:
    print( '\033[1m' +"Reject Null Hypothesis, Significance difference two cutlets diameter" + '\033[0m')
else:
    print( '\033[1m' + "Accept Null Hypothesis, No difference in diameters of two cutlets" + '\033[0m')

Accept Null Hypothesis, No difference in diameters of two cutlets

### 2. Hypothesis Lab TAT

   A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.
 
 
    Minitab File: LabTAT.mtw

**Null Hypothesis:** $\mu$ = No difference in diameters of two cutlets

**Alternative Hypthosis:** $\mu \neq$  Significance difference is cutlets diameter

In [54]:
labTAT = pd.read_csv('../Data/LabTAT.csv')
labTAT.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [78]:
labTAT

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]